* {
  box-sizing: border-box;
}

.all-work-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
  
@media (min-width: 768px) {
    .all-work-container {
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
  .all-work-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    min-width: 200px;
    border: solid 4px;
    border-color: #014421;
    overflow: hidden;
}

.slider-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}